/build
/captures
.externalNativeBuild
.gradle
.idea
.cxx
local.properties
app/google-services.json
app/src/main/res/values/secrets.xml
app/src/main/jniLibs/**/*.so
app/src/main/assets/voice_filter*.onnx
app/src/main/assets/dvector.bin
